.root_main {
	padding: 2rem 4rem;
	width: calc(100vw - 8rem);
	height: calc(100vh - 4rem);
	overflow: hidden;
}

.root_main_wrapper_block {
	height: 100%;
	display: block;
}

.root_main_wrapper_flex {
	height: calc(100% - 2rem);
	display: flex;
	gap: 2rem;
}

.emails_list {
	height: 90%;
}

.page_btns_container {
	height: 10%;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.page_btns_container button {
	height: 40px;
	width: 40px;
	border-radius: 999px;
	border: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.emails_list .list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow-y: scroll;
	height: 100%;
}

.emails_list_width_40 {
	width: 40%;
}

.emails_list_width_100 {
	width: 100%;
}

.filters {
	margin-bottom: 1rem;
}

.filters button {
	margin-right: 1rem;
	border: none;
	padding: 0.5rem 0rem;
	width: 4rem;
	border-radius: 1.5rem;
	cursor: pointer;
}

.bg_white {
	background-color: transparent;
}

.bg_grey {
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.loader {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
